* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

/**** Navigation ****/

li {
    display: inline;
}

ul {
    float: right;
    margin-top: 30px;
}

.navbar {
    grid-column: 1 / 4;
    grid-row: 1;
    padding-top: 50px;
    margin-right: 100px;
}

.navlink {
    font-family: Inter;
    padding: 20px;
    grid-column: 2 / 4;
    grid-row: 1;
}

.navlink:hover {
    color: hsl(5, 85%, 63%);
}

.brand {
    width: 50px;
    margin: 20px 0px 0px 100px;
}

/**** Header Section ****/

#header-section {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.header-image {
    grid-column: 1 / 3;
    grid-row: 2;
    width: 100%;
    padding: 60px 30px 30px 100px;
}

.heading-body-text {
    grid-column: 2;
    grid-row: 3;
    width: 400px;
    padding-top: 10px;
}

.button {
    grid-column: 2;
    grid-row: 3;
    height: 50px;
    width: 175px;
    position: relative;
    top: 167px;
    text-transform: uppercase;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: black;
    font-family: Inter;
    font-weight: 800;
    letter-spacing: 3px;
}

.button:hover {
    background-color: black;
    color: white;
}

/**** New Section ****/

#new-section {
    grid-column: 3;
    grid-row: 2 / 4;
    background-color: hsl(240, 100%, 5%);
    margin: 60px 100px 0px 0px;
}

/**** Article Section ****/

.article-1 {
    grid-column: 1;
    grid-row: 4;
    padding: 60px 0px 30px 100px;
}

.article-2 {
    grid-column: 2;
    grid-row: 4;
    padding: 60px 0px 30px 0px;
}

.article-3 {
    grid-column: 3;
    grid-row: 4;
    padding: 60px 100px 30px 0px;
}

.article-img {
    float: left;
    padding: 20px 20px 20px 0px;
    width: 120px;
}

/**** Text ****/
.main-heading {
    grid-column: 1 / 2;
    grid-row: 3;
    color: black;
    font-family: Inter;
    font-weight: 800;
    font-size: 55px;
    padding: 10px 30px 10px 100px;
}

.new-heading {
    color: hsl(35, 77%, 62%);
    font-family: Inter;
    font-weight: 800;
    font-size: 40px;
    padding: 20px;
}

.new-subheading {
    color: white;
    font-family: Inter;
    font-weight: 700;
    padding: 20px;  
}

.new-subheading:hover {
    color: hsl(35, 77%, 62%);
}

.new-body {
    color: hsl(233, 8%, 79%);
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 40px 10px 20px;
}

.article-heading {
    color: hsl(5, 85%, 63%);
    font-family: Inter;
    font-weight: 800;
    margin-top: 20px;
}

.article-subheading {
    color: black;
    font-family: Inter;
    font-weight: 700;  
    margin-top: 20px;
    margin-bottom: 10px;
}

.article-subheading:hover {
    color: hsl(5, 85%, 63%);
}

.body {
    color: hsl(236, 13%, 42%);
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
}

hr {
    margin: 20px;
}