* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**** Desktop Formatting (Default) ****/

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

/**** Navigation ****/

.navbar {
    grid-column: 1 / 4;
    grid-row: 1;
    padding-top: 50px;
}

.nav-elements {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}

.navlink {
    font-family: Inter;
    text-decoration: none;
    color: black;
    padding: 20px;
}

a {
    display: inline;
}

.navlink:hover {
    color: hsl(5, 85%, 63%);
}

.brand {
    width: 50px;
    margin: 20px 0px 0px 100px;
}

.navbar .icon {
    display: none;
}

/**** Header Section ****/

#header-section {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.header-image {
    grid-column: 1 / 3;
    grid-row: 2;
    width: 100%;
    padding: 60px 30px 30px 100px;
}

.heading-body-text {
    grid-column: 2;
    grid-row: 3;
    width: 400px;
    padding-top: 10px;
}

.button {
    grid-column: 2;
    grid-row: 3;
    height: 50px;
    width: 175px;
    position: relative;
    top: 167px;
    text-transform: uppercase;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: black;
    font-family: Inter;
    font-weight: 800;
    letter-spacing: 3px;
}

.button:hover {
    background-color: black;
    color: white;
}

/**** New Section ****/

#new-section {
    grid-column: 3;
    grid-row: 2 / 4;
    background-color: hsl(240, 100%, 5%);
    margin: 60px 100px 0px 0px;
}

/**** Article Section ****/

.article-1 {
    grid-column: 1;
    grid-row: 4;
    padding: 60px 0px 30px 100px;
}

.article-2 {
    grid-column: 2;
    grid-row: 4;
    padding: 60px 0px 30px 0px;
}

.article-3 {
    grid-column: 3;
    grid-row: 4;
    padding: 60px 100px 30px 0px;
}

.article-img {
    float: left;
    padding: 20px 20px 20px 0px;
    width: 120px;
}

/**** Text ****/
.main-heading {
    grid-column: 1 / 2;
    grid-row: 3;
    color: black;
    font-family: Inter;
    font-weight: 800;
    font-size: 55px;
    padding: 10px 30px 10px 100px;
}

.new-heading {
    color: hsl(35, 77%, 62%);
    font-family: Inter;
    font-weight: 800;
    font-size: 40px;
    padding: 20px;
}

.new-subheading {
    color: white;
    font-family: Inter;
    font-weight: 700;
    padding: 20px;  
}

.new-subheading:hover {
    color: hsl(35, 77%, 62%);
}

.new-body {
    color: hsl(233, 8%, 79%);
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 40px 10px 20px;
}

.article-heading {
    color: hsl(5, 85%, 63%);
    font-family: Inter;
    font-weight: 800;
    margin-top: 20px;
}

.article-subheading {
    color: black;
    font-family: Inter;
    font-weight: 700;  
    margin-top: 20px;
    margin-bottom: 10px;
}

.article-subheading:hover {
    color: hsl(5, 85%, 63%);
}

.body {
    color: hsl(236, 13%, 42%);
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
}

hr {
    margin: 20px;
}

/**** Mobile Formatting ****/

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 0 !important; /* Resets padding and margin for the 'container' element */
        margin: 0 !important;
    }

    .container > * { /* Resets padding and margin for all child elements of 'container' */
        padding: 15px !important;
        margin: 0 !important;
    }

    .brand {
        margin-left: 0;
    }

    .navlink {
        display: none;
    }

    .main-heading {
        font-size: 40px;
        width: 90%;
    }

    .heading-body-text {
        width: 100%;
    }

    .button {
        position: relative;
        top: 10px;
        left: 15px;
    }

    .body-text {
        width: 90%;
    }

    #new-section {
        margin: 75px 15px 15px 15px !important;
    }

    .nav-elements {
        margin: 0px !important;
    }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
      color: black;
      margin-top: 25px;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 30px 5px 15px 15px;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding: 10px;
      margin-top: 20px;
    }
  }